
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}


.expense-container{
    border: 2px solid;
    width: 25cm;
    height: 15cm;
    border-radius: 10px;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-container{
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    height: 11cm;
}

.salary{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spent-money{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-money{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#salary{
    margin-left: 20px;
}
#item{
    margin-right: 20px;
}

.item-name{
    width: 6cm;
    height: 1cm;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

#name{
    margin-left: 10px;
    font-size: medium;
}

#bin-icon{
    margin-right: 10px;
}