
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    
}


h1{
    font-family: 'Roboto Condensed', sans-serif;
}

h2{
    
        font-family: 'Roboto Condensed', sans-serif;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 1px;
}

h4{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 1px;
}

h5{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 1px;
}
.expense-container{
    border: 2px solid;
    width: 25cm;
    height: 15cm;
    border-radius: 10px;
    background-color: skyblue;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-container{
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    height: 11cm;
}

.salary{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.spent-money{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-money{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
    border: solid 1px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#salary{
    margin-left: 50px;
    cursor: pointer;
}

#salary:hover{
    transform: scale(1.2);
    transition: 0.5s;
    
}
#item{
    margin-right: 50px;
    cursor: pointer;
}

#item:hover{
    transform: scale(1.2);
    transition: 0.5s;
    
}

#bin-icon{
    cursor: pointer;
    
}

#bin-icon:hover{
    transform: scale(1.2);
    transition: 0.1s;
    color: red
    
}

.item-name{
    width: 8cm;
    height: 1cm;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: aliceblue;
}

#name{
    margin-left: 10px;
    margin-top: 25px;
    font-size: medium;
}

#item-price{
    margin-top: 25px;
    font-size: medium;
}

#bin-icon{
    margin-right: 10px;
}

.salary-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.salary-button-text{
    margin-left: 45px;
    margin-top: 10px;
}

.item-button-text{
    margin-right: 45px;
    margin-top: 10px;
}


.modal-salary {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-item {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content-salary {
    background-color: #fefefe;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    height: 40%;
  }

  .modal-content-item {
    background-color: #fefefe;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    height: 40%;
  }


  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-size: 30px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-container-salary{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  }

  .modal-container-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

  #add-salary{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 500;
    
  }

  #add-item{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: 500;
    
  }


  #add-salary-button{
     margin-top: 20px; 
     padding: 9px;
     width: 65px;
     border-radius: 5px;
     border: none;
     background-color: skyblue;
     font-family: 'Roboto Condensed', sans-serif;
     cursor: pointer;
  }

  #add-item-button{
    margin-top: 20px; 
    padding: 9px;
    width: 65px;
    border-radius: 5px;
    border: none;
    background-color: skyblue;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
 }


  #salary-input{
      padding: 5px;
      width: 150px;
  }

  #item-input{
    padding: 5px;
    width: 150px;
}

#item-price-input{
    margin-top: 10px;
    padding: 5px;
    width: 150px;
}

  