
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}


h1{
    font-family: 'Roboto Condensed', sans-serif;
}

h2{
    
        font-family: 'Roboto Condensed', sans-serif;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 1px;
}

h4{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 1px;
}

h5{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 1px;
}
.expense-container{
    border: 2px solid;
    width: 25cm;
    height: 15cm;
    border-radius: 10px;
    background-color: skyblue;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-container{
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
    height: 11cm;
}

.salary{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.spent-money{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-money{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
    border: solid 1px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#salary{
    margin-left: 50px;
    cursor: pointer;
}

#salary:hover{
    transform: scale(1.2);
    transition: 0.5s;
    
}
#item{
    margin-right: 50px;
    cursor: pointer;
}

#item:hover{
    transform: scale(1.2);
    transition: 0.5s;
    
}

#bin-icon{
    cursor: pointer;
    
}

#bin-icon:hover{
    transform: scale(1.2);
    transition: 0.1s;
    color: red
    
}

.item-name{
    width: 6cm;
    height: 1cm;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: aliceblue;
}

#name{
    margin-left: 10px;
    margin-top: 25px;
    font-size: medium;
}

#bin-icon{
    margin-right: 10px;
}

.salary-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.salary-button-text{
    margin-left: 45px;
    margin-top: 10px;
}

.item-button-text{
    margin-right: 45px;
    margin-top: 10px;
}